
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
html{
    height: 100%;
}

body {
    
    font-family: Comic Sans, Comic Sans MS, cursive, tahoma;
    margin: 15px;
    height: 100%;
    min-width: 650px;
    position: relative;
}



h1{
    font-size: 200%;
}

.chat-message-form{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.input-group { 
    padding: 3px;
    bottom: 0;
    width: 100%;
}


#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

#messages li { 
    padding: 5px 10px;
    background-color: white;


}

#messages li:nth-child(odd) { 
    background-color: #eee;

}

li{
    border-radius: 5px;
    
}

.chat-window{
    position: absolute;
    width: 50%;
    top: 60px;
    bottom: 10px;
    min-width: 100px;
    min-height: 220px;
}
.all-comments{
    position:absolute;
    overflow-y: auto;
    width: 100%;
    top: 40px;
    bottom: 50px;
}
.notification-text{
    position:absolute;
    padding-left: 5%;
    width: 100%;
    color:gray;
    bottom: 45px;
}

.load-animation{
    position: absolute;
    top: 45%;
    left: 45%;
    vertical-align: middle;
}

.panel{
    border-color: #337ab7;
}

.instructions{
    
}


.panel-success>.panel-heading{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}


.login-component{
    position: absolute;
    float:right;
    right: 5px;
    top: 10px;
    width: 250px;
    height: 225px;
    border: 1px solid #337ab7;
    padding:15px 15px 15px 15px;
    border-radius: 4px;
}

.connected-users-panel{
    position:absolute;
    float: right;
    right: 5px;
    top: 240px;
    width: 250px;
    bottom: 10px;
}
.btn-block{
    margin-top: 10px;
}

p.user-name{
    color:red;
    margin: 0;
    float: left;
}

p.user-name.current-user{
    color:#337ab7;
    margin: 0;
    float: left;
}

span.time-stamp{
    float: right;
    font-size: 70%;
    margin-top: 5px;
    color: gray;
}

p.message-content{
    margin: 0;
    color: darkgray;
    clear:both;
}


[live-user]{
    color: lightgreen;
}

[live-guest]{
    color: gray;
}

.users-list{
    margin-left: 15px;
    height: 100%;
    overflow-y: auto;
}

.connected-users-panel{
    min-height: 200px;
}
